@font-face {
	font-family: 'opensans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'opensans';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --purple: #9D5CD0;
    --light_purple: #C283F3;
    --dark_purple: #7943A4;
}

body {
    font-family: 'opensans';
    position: relative;
}

@keyframes main_img_animation {
    0% {
        background-size: 100%;
    }

    50% {
        background-size: 110%;
    }

    100% {
        background-size: 100%;
    }
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

li {
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.main_title {
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: -4px;
    color: white;
    font-size: 72px;
    line-height: 86px;
}

.outline_none {
    outline: none !important;
}

.outline {
    outline: 2px solid var(--purple);
    outline-offset: 5px;
}

.flex_container {
    display: flex;
}

.flex_center {
    align-items: center;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
}

.header_top {
    width: 100%;
    position: absolute;
    top: 0;
    padding-bottom: 25px;
    padding-top: 30px;
    color: white;
    background-color: black;
}

.logo {
    margin-right: 179px;
    align-self: center;
}

.nav {
    margin-right: auto;
}

.nav_item {
    font-size: 18px;
    letter-spacing: 0.35px;
}

.purple_text {
    color: var(--purple) !important;
}

.dark_purple_text {
    color: var(--dark_purple) !important;
}

.header_transition {
    transition: color 0.3s ease-in-out;
}

.nav_item:hover {
    color: var(--light_purple);
}

.nav_cont {
    font-weight: 600;
    margin-bottom: 6px;
}

.header_bot {
    width: 100%;
    position: absolute;
    top: 100px;
    padding-top: 17px;
    padding-bottom: 21px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdowns {
    font-size: 18px;
    font-weight: 400;
    align-self: center;
    margin-right: auto;
}

.dropdown a {
    padding-right: 20px;
}

.dropdown2 a {
    padding-right: 20px;
}

.dropdown3 a {
    padding-right: 20px;
}

.dropdown:hover {
    color: var(--light_purple);
}

.dropdown:not(:last-child), .dropdown2:not(:last-child), .dropdown3:not(:last-child) {
    margin-right: 101px;
}

.dropdown::after, .dropdown2::after, .dropdown3::after{
    content: "";
    width: 7px;
    height: 7px;
    margin-left: -16px;
    align-self: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.dropdown3::after {
    border-bottom: 1px solid var(--light_purple);
    border-right: 1px solid var(--light_purple);
}

.dropdown2::after {
    border-bottom: 1px solid var(--dark_purple);
    border-right: 1px solid var(--dark_purple);
    transform: rotate(-135deg);
}

.search {
    align-self: center;
    margin-left: auto;
}

.search:hover {
    outline: none;
}

.search_input {
    margin-top: 7px;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    line-height: 24.5px;
    max-height: 26px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    transition: border 0.3s ease-in-out;
    caret-color: var(--purple);
}

.search_input_purple {
    border-bottom: 1px solid var(--light_purple);
}

.search_btn {
    width: 25px;
    margin-top: 11px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    background-image: url(../img/search_icon.svg);
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
}

.search_btn_purple {
    background-image: url(../img/search_icon_purple.svg);
}

.flex_reverse {
    flex-direction: row-reverse;
}

.search_input::placeholder {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.search_input:focus::placeholder {
    color: transparent;
}

.login {
    padding-left: 18px;
    padding-right: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position-y: 6px;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
}

.login:hover {
    outline: none !important;
    color: var(--light_purple);
    background-image: url(../img/Vector_purple.svg);
}

.login_dark_img {
    background-image: url(../img/Vector_dark.svg) !important;
}

.login:focus {
    outline: 2px solid var(--dark_purple);
    outline-offset: 5px;
}

.section_title {
    padding-top: 240px;
    padding-bottom: 122px;
    width: 100%;
    background-image: url(../img/top_img_1.jpg);
    animation: main_img_animation 10s ease-in-out infinite;
    background-repeat: no-repeat;
}

.section_title__content {
    max-width: 597px;
}

.section_title__text {
    letter-spacing: 0.01px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: white;
    font-weight: 700;
}

.btn {
    display: block;
    margin-top: 91px;
    margin-bottom: 122px;
    padding: 19px 33px;
    color: white;
    background-color: var(--purple);
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: 3px solid transparent;
}

.btn:hover {
    border: 3px solid var(--light_purple);
}

.btn:focus {
    border: 3px solid var(--dark_purple);
    outline: none;
}

li a:hover {
    outline: none !important;
}

li a:focus {
    outline: 2px solid var(--dark_purple);
    outline-offset: 5px;
}

.dark_purple_background {
    background-color: var(--dark_purple);
    border: 3px solid var(--light_purple) !important;
}

.darck_purple_border {
    border: 3px solid var(--dark_purple);
}

.section_2 {
    height: 100vh;
    width: 100%;
    background-color: white;
}