@font-face {
	font-family: 'opensans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'opensans';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'opensans';
    background-image: url(../img/top_img_1.jpg);
    background-repeat: no-repeat;
}

h1 {
    margin-top: 67px;
    margin-bottom: 18px;
    margin-left: -4px;
    color: white;
    font-size: 72px;
    line-height: 86px;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

li {
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex_container {
    display: flex;
}

.flex_center {
    align-items: center;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
}

.header_top {
    width: 100%;
    padding-bottom: 25px;
    background-color: black;
}

.logo {
    margin-right: 179px;
    align-self: center;
}

.nav {
    margin-right: auto;
}

.nav_item {
    font-size: 18px;
    letter-spacing: 0.35px;
}

.nav_cont {
    font-weight: 600;
    margin-bottom: 6px;
}

.header {
    padding-top: 30px;
    color: white;
}

.header_bot {
    padding-top: 21px;
    padding-bottom: 19px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdowns {
    font-size: 18px;
    font-weight: 400;
    align-self: center;
    margin-right: auto;
}

.dropdown {
    margin-right: 101px;
}

.dropdown::after {
    content: "";
    width: 7px;
    height: 7px;
    margin-left: 4px;
    align-self: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
}

.search {
    padding-left: 30px;
    align-self: center;
    margin-left: auto;
}

.search_input {
    padding-right: 25px;
    padding-bottom: 0;
    line-height: 24.5px;
    max-height: 26px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.search_btn {
    margin-top: 2px;
    margin-right: 2px;
    background-color: transparent;
    border: none;
}

.flex_reverse {
    flex-direction: row-reverse;
}

.search_input::placeholder {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.login {
    padding-left: 18px;
    padding-right: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position-y: 6px;
    background-color: transparent;
    border: none;
}

.section_1 {
    max-width: 597px;
}

.section_1_text {
    letter-spacing: 0.01px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: white;
    font-weight: 700;
}

.btn {
    display: block;
    margin-top: 90px;
    margin-bottom: 122px;
    padding: 23px 37px;
    color: white;
    background-color: #9D5CD0;
    border-radius: 100px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: none;
}